html 
    head 
        title Demo pug 
    body 
        h2 Hello pug 
        p Halaman ini berasal dari template yang dibuat menggunakan Pug 
         p Isi variable nama: #{nama}
         p isi variable daftar: 
         ul 
            each elemen in daftar 
                li= elemen